<html>

<head>
  <title>Add a cardio or lift exercise</title>
</head>

<body>

  {% if feedback %}
  <p>{{ feedback }}</p>
  {% endif %}

  <form action="/exercises/add/" method="post">

  <table border="0" cellpadding="4">
    {{ exercise_type_form.as_table }}
  </table>

  <input type="Submit" value="Go!" />

  </form>

<!--
  <form action="/exercises/add/" method="post">

    <p>
      Type:
      <input type="radio" name="type" value="0" tabindex="1" />Lift
      <input type="radio" name="type" value="1" tabindex="2" />Cardio
    </p>

    <p>Name: <input type="text" name="name" /></p>

    <p>Created by (member id): <input type="text" name="member" /></p>

    <input type="Submit" value="Go!" />

  </form>
-->

  <hr />

  {% if exercise_list %}
    <ul>
    {% for exercise in exercise_list %}
      <li>
	<div style="align: left">
	  <p>
	    <strong>{{ exercise.name }}</strong> [{{ exercise.type }}]
	    [
	    {% for muscle_group in exercise.muscle_groups.all %}
	      {{ muscle_group.name }}&nbsp;
	    {% endfor %}
	    ]
	    <!-- Turn this into a POST form submittal -->
	    [<a href="/exercises/delete/{{ exercise.id }}/">X</a>]
	  </p>
	</div>
<!--	<div style="align: right">
	  
	</div>-->
	<p>Created by {{ exercise.created_by.firstName }} {{ exercise.created_by.lastName }} on {{ exercise.time_created }}</p>
      </li>
      <hr noshade/>
    {% endfor %}
    </ul>
  {% else %}
    <p>No exercise types are available.</p>
  {% endif %}


</body>

</html>
