/** General */
body { /*  margin: 1em;   */
	
}

/** Header */
.fui-header {
	width: 100%;
	padding: 0.5em 0 0.25em;
	border-bottom: #000 solid 1px;
}
/*
.heading {
	margin-bottom: 1em;
	background-color: #000;
}
*/
.title,
.author {
	margin-left: 0.25em;
}	

.title {
	font-weight: bold;
	font-size: 1em;
	margin-top: 4px;
}

.author {
	font-weight: bold;
	font-size: 0.8em;
}

/** Main */
DIV.main-panel {
	background: #F8F8F8; /* light gray */
/*	border: 1px solid blue; */
}

.gwt-TabPanelBottom {
	padding: 0;
	border: 0;
}	

.tab-container {
	margin: 4px 0 0;
/*	padding: 0.25em 0 0; */
	padding: 0;
}

.build-tab {
	padding: 0;
	margin: 0;
}

/** Error Panel */
.error-console {
	background: #F8F8F8; /* light gray */
/*	border: 1px solid blue; */
}

/** Superclass Behavior panel */
.muscle-group-selector-panel,.exercise-selector-container {
	background-color: #E8EEF7;
/*	border: 1px solid #87B3FF; */
	/*  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.2em;
  padding: 0.2em 0.1em; */
}

.muscle-group-selector-panel .gwt-RadioButton {
	cursor: pointer;
}

/** Muscle Group Selection Panel */
.muscle-group-selector-panel {
	border-top: 1px solid #000;
/*	border-right: 1px solid #000;
/*	border-bottom: 1px solid #000; */
	width: 300px;
	height: 309px;
}

/** Exercise Group Selection Panel */
.exercise-selector-container {
	width: 100%;
}

.exercise-selector-panel { /*  width: 270px; */
	width: 100%;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
/*	border-bottom: 1px solid #000; */
	/* 	border: 5px solid #000; /*#87B3FF;*/
}

.exercise-selector-container,
.exercise-selector-panel-element,
.exercise-selector-panel-heading {
/* padding: 0.1em 0.1em 0 0.1em;
margin: 0.1em 0.1em 0 0.1em; */ /* width: 100%; */
/*	border: 1px solid blue;*/
}

.exercise-selector-panel-heading,
.workout-builder-panel-heading
 {
	padding: 0.3em;
	background-color: #87B3FF; /* bright blue */
	border-bottom: 1px solid #000;
}

.exercise-selector-panel-element {
	/* background-color: #B387FF; /* purple */
	padding: 1em 0.5em 0 1em;
}

.exercise-selector-panel-element-thumbnail {
/*	margin: 1em; */
	border: 1px solid #000;
}

.exercise-selector-panel-element-label { /*  width: 230px; */
	margin: 30px 0 30px 1em;
	padding: 0;
	/*  border: 1px solid black; */
}
/*
.exercise-selector-panel-element-label #wrapper {
	padding: 0;
	margin: 0;
}
*/

.exercise-selector-panel-element-add {
	/*  width: 16px; Hard-coded into ExerciseItem.java */
	background: none;
	border: none;	
}

.exercise-selector-panel-element .move {
	height: 16px;
}

/** My Workout builder panel */
.workout-builder-panel { /*  width: 270px; */
	width: 100%;
	background-color: #E8EEF7;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.workout-builder-panel-heading {
	background-color: #87B3FF; /* bright blue */
}

.workout-builder-panel .thumbnail {
	margin: 1em;
	border: 1px solid #000;
}

.workout-builder-panel .reps-text-box {
	width: 4em;
}

/*
.workout-builder-panel-element-label {
	width: 100%;
}
*/
.workout-builder-panel .reps-label,
.workout-builder-panel .rest-label,
.workout-builder-panel .notes-label {
	font-size: 0.8em;	
}

.workout-builder-panel-element-label,
.workout-builder-panel-element-input {
	margin: 16px 0 16px 0;
}

.workout-builder-panel .reps-container,
.workout-builder-panel .delete,
.workout-builder-panel .notes {
	margin-right: 1em;
}

.workout-builder-panel .reps-container,
.workout-builder-panel .delete,
.workout-builder-panel .notes,
.workout-builder-panel .up,
.workout-builder-panel .down {
	margin-top: 1em;
}

.workout-builder-panel .rest, 
.workout-builder-panel .notes {
	margin-top: 2em;
}
	
/*
.workout-builder-panel .reps-label {
	width: 7.07em; /*102px;
}

.workout-builder-panel .rest-label {
	width: 16.85em; /*144px;
}

.workout-builder-panel .notes-label {
	width: 10em; /*233px;
}
*//*
.workout-builder-panel .rest {
	width: 48px;
}

.workout-builder-panel .up {
	width: 32px;
}

.workout-builder-panel .down {
	width: 32px;
}

.workout-builder-panel .delete {
	width: 32px;
}

.workout-builder-panel .notes {
	width: 225px;
}
*/
.workout-builder-panel .hide {
	display: none;
}

.workout-builder-panel-placeholder {
	width: 100%;
}

/** Print button */
/* TODO: Change to superclass element that all control panel elements inherit from */
.style-orange .button {
	color: #fda463;
}

.style-green .button {
	color: #77BC74;
}

.button {
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    background: none;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

/*    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;*/
    line-height:130%;
    height: 90%;
    text-decoration:none;
/*    font-weight:bold; */
    color:#565656;
    cursor:pointer;
    padding-right: 10px;
    padding-left: 7px;
    /*padding:5px 10px 6px 7px; /* Links */
}

.button:hover {
	color: #444;
	background-color: #ccc; 
}

.print-button {
	
}

.save-button {
	
}

.save-as-button {
	
}

/** Glass panel */
.yanel-GlassPanel {
	background-color: black;
	filter: alpha(opacity = 50);
	-moz-opacity: .50;
	opacity: .50;
}