<html>

<head>
  <title>iFlex Fitness - Free on-line fitness tracking for muscle building, weight loss and dieting</title>
  <link type="text/css" href="/media/css/default.css" rel="stylesheet"/>
</head>

<body>
	<div id="container">
		<div id="header">
			<div id="logo">
				<a href="http://iflex.adambossy.com/">iFlex Fitness</a>
			</div>
			<div id="nav">
				<ul>
					<li>
						<a href="http://.com/">home</a>
					</li>
					<li>
						<a href="http://.com/contact/">about</a>
					</li>
					<li>
						<a href="http://.com/contact/">workout editor</a>
					</li>
					<li>
						<a href="http://.com/contact/">contact</a>
					</li>
					<li>
						<a href="http://.com/blog/">blog</a>
					</li>
				</ul>
			</div><!-- END navigation -->
		</div><!-- END header -->
		<div id="home-main">
<!--
			<div id="home-right">
				<h2>From the <i>Think First</i> blog:</h2>
				<h3><a title="Permanent Link to Interview: Penelope Trunk" rel="bookmark" href="http://outthinkgroup.com/2009/02/10/interview-penelope-trunk/">Interview: Penelope Trunk</a></h3>
				<p>I recently came across Penelope Trunks blog and promptly lost a couple hours of my <a href="http://outthinkgroup.com/2009/02/10/interview-penelope-trunk//">[...]</a></p>
				<span><a href="http://outthinkgroup.com/2009/02/10/interview-penelope-trunk/">Read More</a></span>
			</div><!-- END home-right -->
			
			<div id="home-left">
				<h1>Welcome to the world's easiest way to stay fit.</h1>
				<p>
					Say goodbye to the false promises of infomercials and diet programs, and say hello to the first no-gimmicks way to keep a healthy lifestyle.
				</p>
				<div id="launch-workout">
					<h3><a href="">Launch My Workout Routine &gt;</a></h3>
<!--					<p><em>No registration required</em></p> -->
				</div>
			</div><!-- END home-left -->
		</div><!-- END home-main -->
	</div><!-- END contentwrap -->
	<div id="home-footerwrap">
		<div id="home-footer">
			<div class="footer-column">
				<h2>Plan</h2>
				<p>Pic placeholder</p>
			</div>
			<div class="footer-column">
				<h2>Track</h2>
				<p>Pic placeholder</p>
			</div>
			<div style="margin: 0pt;" class="footer-column">
				<h2>Visualize</h2>
				<p>Pic placeholder</p>
<!--
				<p>
					Your web site should help your business, not hinder it. When your web site is easily navigable and simple to update, it turns into an asset for your business that helps you attract and retain customers.
				</p>
				<p>
					Out:think Group makes having a web site easy and profitable.
				</p>
-->				
			</div>
			<div class="clear"></div>
		</div><!-- END home-footer -->
	</div><!-- END home-footerwrap -->
	<div id="footer">
				<ul>
					<li>
						<a href="http://.com/">home</a>
					</li>
					<li>
						<a href="http://.com/contact/">about</a>
					</li>
					<li>
						<a href="http://.com/contact/">workout editor</a>
					</li>
					<li>
						<a href="http://.com/contact/">contact</a>
					</li>
					<li>
						<a href="http://.com/blog/">blog</a>
					</li>
				</ul>
		Copyright 2008 healthySoftware
	</div><!-- END footer -->

</body></html>
