<table border="0" cellpadding="4">
  {{ workout_template_form.as_p }}
<!--
  <tr>
    <th>
      {{ workout_template_form.name.label_tag }}
    </th>
    <td>
      {{ workout_template_form.name }}
    </td>
  </tr>
  <tr>
    <th>
      {{ workout_template_form.position.label_tag }}
    </th>
    <td>
      {{ workout_template_form.position }}
    </td>
  </tr>
  <tr>
    <th>
      {{ workout_template_form.collection.label_tag }}
    </th>
    <td>
      <select name="collection" id="id_collection">
	<option value="" selected="selected">---------</option>
	<option value="1">1, &quot;Book of Muscle&quot; Workout, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="2">2, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="3">3, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="4">4, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="5">5, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="6">6, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="7">7, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="8">8, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="9">9, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="10">10, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="11">11, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
	<option value="12">12, Placeholder, 1, Adam, Bossy, 21, 73, 165</option>
      </select>
    </td>
  </tr>
-->
</table>
