<html>

<head>

  <title>Add a Workout</title>

<!--  <script src="{{ css_root }}/addForm.js" type="text/javascript"></script> -->

  <script type="text/javascript">

/*  var GLOBAL_NUM_TABLE_ROWS = 0;

  function addCardioExercise () {

    var newCell = insertCellExerciseTable ()

    var exerciseIndex = newCell[1];

    newCell[0].innerHTML = "<strong>" + exerciseIndex + ". Cardio</strong>" +

    "<input type='hidden' name='id[]' value='cardio' />" +
    "<input type='hidden' name='index[]' value='" + exerciseIndex + "' />" +

    // Separate into generic function for both exercise types ?
    {% if cardio_type_list %}
      "\t<select name='cardio_type[]'>" +
      "\t\t<option>Select Type</option>" +
      {% for cardio_type in cardio_type_list %}
        "\t\t<option value='{{ cardio_type.id }}'>{{ cardio_type.name }}</option>" +
      {% endfor %}
      "\t</select>" +
    {% else %}
    "\t<p>ERROR: No cardio workout types are available.</p>" +
    {% endif %}

    "<p>Time exercised (min): <input type='text' name='time[]' /></p>" +

    "<p>Distance: <input type='text' name='distance[]' />" +

    "<select name='cardio_units[]'>" +
    "  <option value='km'>km</option>" +
    "  <option value='mi'>mi</option>" +
    "</select>";

  }

  function addLiftExercise () {

    var newCell = insertCellExerciseTable ()

    var exerciseIndex = newCell[1];

    newCell[0].innerHTML = "<strong>" + exerciseIndex + ". Lift</strong>" +

    "<input type='hidden' name='id[]' value='lift' />" +
    "<input type='hidden' name='index[]' value='" + exerciseIndex + "' />" +

    {% if lift_type_list %}
    "  <select name='lift_type[]'>" +
    "  <option>Select Type</option>" +
      {% for lift_type in lift_type_list %}
    "    <option value='{{ lift_type.id }}'>{{ lift_type.name }}</option>" +
      {% endfor %}
    "  </select>" +
    {% else %}
    "  <p>ERROR: No lift types are available.</p>" +
    {% endif %}

    "<p># Reps: <input type='text' name='reps[]' /></p>" +

    "<p>Amount of weight: <input type='text' name='weight[]' />" +

    "<select name='lift_units[]'>" +
    "  <option value='lbs'>lbs</option>" +
    "  <option value='kg'>kg</option>" +
    "</select>" +

    "</p><hr width='45%' align='left'/>";

  }

  function insertCellExerciseTable () {

    // Design-dependent; may want to ensure this still works with a different design; consider object-oriented design
    if (null == document.getElementById('exerciseDiv').firstChild) {

      var exerciseDiv = document.getElementById('exerciseDiv');

      exerciseDiv.innerHTML = "<table id=\"exerciseTable\" border=\"1\">" +
        "  <tr>" + 
	"    <td>" + 
	"    </td>" +
	"  </tr>" +
	"</table>";
    }

    // Used to find last index. Try to find if this is 'removable' with a built-in function
    GLOBAL_NUM_TABLE_ROWS++;

    var exerciseTable = document.getElementById('exerciseTable');

    var newRow = exerciseTable.insertRow(GLOBAL_NUM_TABLE_ROWS);

    var newCell = newRow.insertCell(0);

    return new Array (newCell, GLOBAL_NUM_TABLE_ROWS); */
  }
  </script>

</head>

<body>

<form action="/workout/add/{{ member_id }}/" method="post">

  <h3>Add a Workout</h3>

  <hr width="45%" align="left" />

  <h4>Exercise</h4>

  <p>Date: <input type="text" name="date" />MM/DD/YYYY</p>

  <p>Calories: <input type="text" name="calories" /></p>

  <p>Notes: <textarea name="notes"></textarea></p>

  <hr width="45%" align="left" />

  <table border="1">
	<tr>
	  <td>Exercise</td>
	  <td>Warmup Sets</td>
	  <td>Warmup Reps</td>
	  <td>Your Warmup</td>
	  <td>Workout Sets</td>
	  <td>Workout Rets</td>
	  <td>Tempo</td>
	  <td>Rest</td>
	</tr>
  	{% for lift_template in lift_template_list %}
	<tr>
	  <td>{{ lift_template.type.name }}</td>
	  <td>{{ lift_template.warmup_sets }}</td>
	  <td>
	  	{% for num in lift_template.warmup_sets %}
	  	  {{ num }}<input type="text" size="4" />
	  	{% endfor %}
	  </td>
	  <td>{{ lift_template.warmup_reps }}</td>
	  <td>{{ lift_template.workout_sets }}</td>
	  <td>{{ lift_template.workout_reps }}</td>
	  <td>{{ lift_template.tempo }}</td>
	  <td>{{ lift_template.rest}}</td>
	</tr>
  	{% endfor %} 
  </table>
  
  <br />
  
  <input type="Submit" value="Go!" />

</form>

</body>

</html>
