<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- The HTML 4.01 Transitional DOCTYPE declaration-->
<!-- above set at the top of the file will set     -->
<!-- the browser's rendering engine into           -->
<!-- "Quirks Mode". Replacing this declaration     -->
<!-- with a "Standards Mode" doctype is supported, -->
<!-- but may lead to some differences in layout.   -->

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--                                           -->
    <!-- Any title is fine                         -->
    <!--                                           -->
    <title>GWT + Django test -- fitnessUI</title>
    
    <!--                                           -->
    <!-- This script loads your compiled module.   -->
    <!-- If you add any GWT meta tags, they must   -->
    <!-- be added before this line.                -->
    <!--                                           -->
<!--    <script type="text/javascript" language="javascript" src="com.google.gwt.fitnessui.fitnessUI.nocache.js"></script> -->
    <script type="text/javascript" language="javascript" src="/media/fitnessUI/www/com.google.gwt.fitnessui.fitnessUI/com.google.gwt.fitnessui.fitnessUI.nocache.js"></script>
  </head>

  <!--                                           -->
  <!-- The body can have arbitrary html, or      -->
  <!-- you can leave the body empty if you want  -->
  <!-- to create a completely dynamic UI.        -->
  <!--                                           -->
  <body>

    <p align="center">This is a proof-of-concept that django and GWT can work together. The only caveat is that the .html files have to be pulled out of the compiled www/com.google...fitnessUI/ directory and copied to templates/&lt;appName&gt;/&lt;fileName&gt;.html.</p>

    <p align="center">If urls.py is working properly, not only should this page display, it should show the member_id in the following brackets: [{{ member_id }}]. (e.g., /test/1/ should show 1)</p>

    <!-- OPTIONAL: include this if you want history support -->
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>

  </body>
</html>
